
<div class="container">
    <div class="text-center nav-area">
        <div class="nav price-tabs" role="tablist">
            <a class=" nav-link " [ngClass]="{ ' active ' : activeTab1  == 'buy'}" (click)="setActiveTab1('buy')" role="tab" data-toggle="tab">Buy</a>
            <a class=" nav-link "  [ngClass]="{ ' active ' : activeTab1  == 'rent'}" (click)="setActiveTab1('rent')" role="tab" data-toggle="tab">Rent</a>
        </div>
        <div class="nav price-tabs" role="tablist">
            <a class=" nav-link " [ngClass]="{ ' active ' : activeTab2  == 'yearly'}" (click)="setActiveTab2('yearly')" role="tab" data-toggle="tab">Yearly</a>
            <a class=" nav-link "  [ngClass]="{ ' active ' : activeTab2  == 'monthly'}" (click)="setActiveTab2('monthly')" role="tab" data-toggle="tab">Monthly</a>
        </div>
    </div>
    <div class="tab-content wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div role="tabpanel" class="tab-pane fade  " [ngClass]="{ 'active show' : activeTab2  == 'yearly'}"  id="yearly">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Personal</h4>
                            <h2 class="mb-0"><sup>$</sup>99</h2>
                            <span class="text-capitalize">per year</span>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Eget erovtiu faucid</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Cras justo odio</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Morbi leo risus</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Porta consectetur ac</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span> Vestibulum at eros</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Adipisci atque beatae</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-custom">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center popular">
                        <div class="price-top">
                            <h4>Business</h4>
                            <h2 class="mb-0"><sup>$</sup>299</h2>
                            <span class="text-capitalize">per year</span>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Eget erovtiu faucid</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Cras justo odio</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Morbi leo risus</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Porta consectetur ac</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span> Vestibulum at eros</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Adipisci atque beatae</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-custom btn-light">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Enterprise</h4>
                            <h2 class="mb-0"><sup>$</sup>399</h2>
                            <span class="text-capitalize">per year</span>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Eget erovtiu faucid</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Cras justo odio</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Morbi leo risus</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Porta consectetur ac</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span> Vestibulum at eros</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Adipisci atque beatae</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-custom">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade"   [ngClass]="{ 'active show ' : activeTab2  == 'monthly'}"  id="monthly">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Personal</h4>
                            <h2 class="mb-0"><sup>$</sup>29</h2>
                            <span class="text-capitalize">per month</span>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Eget erovtiu faucid</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Cras justo odio</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Morbi leo risus</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Porta consectetur ac</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span> Vestibulum at eros</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Adipisci atque beatae</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-custom">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center popular">
                        <div class="price-top">
                            <h4>Business</h4>
                            <h2 class="mb-0"><sup>$</sup>59</h2>
                            <span class="text-capitalize">per month</span>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Eget erovtiu faucid</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Cras justo odio</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Morbi leo risus</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Porta consectetur ac</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span> Vestibulum at eros</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Adipisci atque beatae</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-custom btn-light">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Enterprise</h4>
                            <h2 class="mb-0"><sup>$</sup>99</h2>
                            <span class="text-capitalize">per month</span>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Eget erovtiu faucid</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Cras justo odio</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check mr-2"></i>
                                    <span class="c-black">Morbi leo risus</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Porta consectetur ac</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span> Vestibulum at eros</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-close mr-2"></i>
                                    <span>Adipisci atque beatae</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-custom">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
