.verify-btn{
    margin-bottom: 20px;
    margin-top: -25px;
    height: 0px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 222, 130);
  }

  
  input[type='email'] :focus{
    border-color: green;
  }


  .passwordShow {
    position: relative;
    display: inline-block;
  }
  
  .passwordShow input[type="password"],input[type="text"] {
    padding-right: 265px; /* Adjust the padding to make space for the icon */
  }
  
  .passwordShow i {
    position: absolute;
    top: 36%;
    right: 10px; /* Adjust the position of the icon */
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa; /* Adjust the color of the icon */
  }
  
  .passwordShow i:hover {
    color: #000; /* Change the color when hovering over the icon */
  }
  