<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Account</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a [routerLink]="['../login']"><span class="ltn__secondary-color"><i
                                            class="fas fa-home"></i></span> Home</a></li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- LOGIN AREA START -->
<div class="ltn__login-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area text-center">
                    <h1 class="section-title">Sign In <br>To Your Account</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                        Sit aliquid, Non distinctio vel iste.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="account-login-inner">
                    <form action="#" class="ltn__form-box contact-form-box">
                        <input type="text" name="email" placeholder="Email*">
                        <input type="password" name="password" placeholder="Password*">
                        <div class="btn-wrapper mt-0">
                            <a [routerLink]="'/user'">
                                <button class="theme-btn-1 btn btn-block">SIGN IN</button>
                            </a>
                        </div>
                        <div class="go-to-btn mt-20">
                            <a href="#" title="Forgot Password?" data-bs-toggle="modal"
                                data-bs-target="#ltn_forget_password_modal"><small>FORGOTTEN YOUR PASSWORD?</small></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="account-create text-center pt-50">
                    <h4>DON'T HAVE AN ACCOUNT?</h4>
                    <p>Add items to your wishlistget personalised recommendations <br>
                        check out more quickly track your orders register</p>
                    <div class="btn-wrapper">
                        <a (click)="showOverlay()" class="theme-btn-1 btn black-btn">CREATE ACCOUNT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN AREA END -->

<!-- CALL TO ACTION START (call-to-action-6) -->
<app-call-to-action></app-call-to-action>
<!-- CALL TO ACTION END -->














<!-- OVERLAY FOR CREATE ACCTOUNT START -->
<div class="overlay" *ngIf="isOverlayVisible" (click)="hideOverlay($event)">
    <div class="icon-container" (click)="$event.stopPropagation()">
        <div class="ltn__feature-area section-bg-1 pt-120 pb-90 mb-120---">
            <div class="container">
                <div class="row ltn__custom-gutter--- justify-content-center ">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                            <div class="ltn__feature-icon">
                                <span><i class="flaticon-house-3"></i></span>
                                <img src="img/icons/icon-img/22.png" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h3><a href="service-details.html">User</a></h3>
                                <p>over 1 million+ homes for sale available on the website, we can match you with a
                                    house you will want to call home.</p>
                                <a class="ltn__service-btn" [routerLink]="['../userregistration']">Register Now <i
                                        class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                            <div class="ltn__feature-icon">
                                <span><i class="flaticon-deal-1"></i></span>
                                <img src="img/icons/icon-img/23.png" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h3><a href="service-details.html">Agent</a></h3>
                                <p>over 1 million+ homes for sale available on the website, we can match you with a
                                    house you will want to call home.</p>
                                <a class="ltn__service-btn" [routerLink]="['../agentregistration']">Register Now <i
                                        class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OVERLAY END -->


<!-- ForgotePassword Start -->
 <app-forgotpassword></app-forgotpassword>
 <!-- ForgotePassword end  -->