/* Styles for the overlay */
.overlay {
  position: fixed; /* Position the overlay to cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent black background */
  display: flex; /* Use flexbox for centering content */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure the overlay is on top of other content */
}

/* Styles for the icon container */

.ltn__feature-area {
 background-color: transparent;
}

.ltn__breadcrumb-area {
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.passwordShow {
  position: relative;
  display: inline-block;
  width: 100%;
}
input i{
  overflow-y: scroll;
  
}
.passwordShow i:hover {
  color: #000; /* Change the color when hovering over the icon */
}

.passwordShow i {
  position: absolute;
  top: 36%;
  right: 10px; /* Adjust the position of the icon */
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa; /* Adjust the color of the icon */
  
}

