

    input i{
      overflow-y: scroll;
      
    }
    select{
        margin: 0;
        height: 60px;
        line-height: 58px;
        padding-right: 40px;
        padding-left: 20px;
        border-radius: 0;
        min-width: 200px;
        font-size: 16px;
        font-weight: 500;
        font-family: var(--ltn__heading-font);
        width: 100%;
    }

    .success{
      background-color: green;
    }
    .error-mesage{
      background-color: red;
    }
    
    
    .tooltip-container {
      display: inline-block;
      position: relative;
    }
    
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
      vertical-align: middle;
    }
    
    .tooltip {
      visibility: hidden;
      width: 200px; /* Adjust width as needed */
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 10px;
      position: absolute;
      z-index: 1;
      bottom: 125%; /* Position above the dot */
      left: 50%;
      margin-left: -100px; /* Center the tooltip */
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .tooltip-container:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
    

    .verify-btn{
      margin-bottom: 20px;
      margin-top: -25px;
      height: 0px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(130, 222, 130);
    }

    input[type='email'] :focus{
      border-color: green;
    }


    .passwordShow {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    
    .error-input {
      border: solid 1px red;
    }

    .success-input {
      border:solid 1px green;
    }
   
    
    .passwordShow i {
      position: absolute;
      top: 36%;
      right: 10px; /* Adjust the position of the icon */
      transform: translateY(-50%);
      cursor: pointer;
      color: #aaa; /* Adjust the color of the icon */
      
    }
    
    .passwordShow i:hover {
      color: #000; /* Change the color when hovering over the icon */
    }
    
    .otp-success{
      color: rgb(10, 196, 10);
    }

    .error{
      font-size: 13px;
    }