/* .nice-select{margin: 0;
height: 60px;
line-height: 58px;
padding-right: 40px;
padding-left: 20px;
border-radius: 0;
min-width: 200px;
font-size: 16px;
font-weight: 500;
font-family: var(--ltn__heading-font);
width: 100%; }

.nice-select .option {
    margin-top: 0;
    white-space: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.8; }
  
  .nice-select .list {
    min-width: 100%; } */

    select{
        margin: 0;
        height: 60px;
        line-height: 58px;
        padding-right: 40px;
        padding-left: 20px;
        border-radius: 0;
        min-width: 200px;
        font-size: 16px;
        font-weight: 500;
        font-family: var(--ltn__heading-font);
        width: 100%;
    }



    
    
    .tooltip-container {
      display: inline-block;
      position: relative;
    }
    
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #ff0000; /* Red dot for error */
      border-radius: 50%;
      margin-right: 8px;
      vertical-align: middle;
    }
    
    .tooltip {
      visibility: hidden;
      width: 200px; /* Adjust width as needed */
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 10px;
      position: absolute;
      z-index: 1;
      bottom: 125%; /* Position above the dot */
      left: 50%;
      margin-left: -100px; /* Center the tooltip */
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .tooltip-container:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
    
