<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image" data-bs-bg="img/bg/14.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ltn__breadcrumb-inner">
          <h1 class="page-title">Account</h1>
          <div class="ltn__breadcrumb-list">
            <ul>
              <li>
                <a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span>
                  Home</a>
              </li>
              <li>Register</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- LOGIN AREA START (Register) -->
<div class="ltn__login-area pb-110">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area text-center">
          <h1 class="section-title">Register <br />Your User Account</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br />
            Sit aliquid, Non distinctio vel iste.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="account-login-inner">
        <form class="ltn__form-box contact-form-box" [formGroup]="userRegistrationForm">
  <div class="form-messege" *ngIf="getControl('userName')?.invalid && getControl('userName')?.touched">
    <span class="error" *ngIf="getControl('userName')?.errors?.['required']">*Username is required</span>
    <span class="error" *ngIf="getControl('userName')?.errors?.['pattern']">*Invalid username format</span>
  </div>
  <input type="text" formControlName="userName" placeholder="User Name*" />

  <div class="form-messege" *ngIf="getControl('email')?.invalid && getControl('email')?.touched">
    <span class="error" *ngIf="getControl('email')?.errors?.['required']">*Email is required</span>
    <span class="error" *ngIf="getControl('email')?.errors?.['email']">*Enter correct email</span>
  </div>
  <input type="text" formControlName="email" placeholder="Email*" />

  <button class="theme-btn-1 btn reverse-color btn-block verify-btn" (click)="onSubmit()">
    Verify
  </button>

  <div class="form-message" *ngIf="userRegistrationForm.get('password')?.touched || formCheck">
    <span class="tooltip-container">
      <span class="dot" [ngClass]="passwordRequired()"></span>
      <span class="tooltip">Password is required.</span>
    </span>
    <span class="tooltip-container">
      <span class="dot" [ngClass]="eightCharector()"></span>
      <span class="tooltip">Password must be at least 8 characters long.</span>
    </span>
    <span class="tooltip-container">
      <span class="dot" [ngClass]="hasaNumber()"></span>
      <span class="tooltip">Password must contain at least one number.</span>
    </span>
    <span class="tooltip-container">
      <span class="dot" [ngClass]="upperCase()"></span>
      <span class="tooltip">Password must contain at least one uppercase letter.</span>
    </span>
    <span class="tooltip-container">
      <span class="dot" [ngClass]="LowerCase()"></span>
      <span class="tooltip">Password must contain at least one lowercase letter.</span>
    </span>
    <span class="tooltip-container">
      <span class="dot" [ngClass]="specialCharector()"></span>
      <span class="tooltip">Password must contain at least one special character.</span>
    </span>
  </div>

  <div class="passwordShow">
  <input [type]="passwordFieldType" formControlName="password" name="password" placeholder="Password*"  />
    <i class="fas fa-eye-slash" (click)="togglePasswordVisibility()"></i>
  </div>

  <div class="form-message" *ngIf="userRegistrationForm.get('confirmPassword')?.invalid && userRegistrationForm.get('confirmPassword')?.touched">
    <span class="error" *ngIf="userRegistrationForm.errors?.['passwordMissMatch']">Both passwords should be the same</span>
  </div>
  <input type="password" formControlName="confirmPassword" placeholder="Confirm Password*" />

  <label class="checkbox-inline">
    <input type="checkbox" value="" />
    I consent to Herboil processing my personal data in order to send personalized marketing material in accordance with the consent form and the privacy policy.
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" value="" />
    By clicking "create account", I consent to the privacy policy.
  </label>
  <div class="btn-wrapper">
    <button class="theme-btn-1 btn reverse-color btn-block" (click)="onSubmit()">
      CREATE ACCOUNT
    </button>
  </div>
</form>

          <div class="by-agree text-center">
            <p>By creating an account, you agree to our:</p>
            <p>
              <a href="#">TERMS OF CONDITIONS &nbsp; &nbsp; | &nbsp; &nbsp; PRIVACY
                POLICY</a>
            </p>
            <div class="go-to-btn mt-50">
              <a href="login.html">ALREADY HAVE AN ACCOUNT ?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LOGIN AREA END -->

<!-- CALL TO ACTION START (call-to-action-6) -->
<app-call-to-action></app-call-to-action>
<!-- CALL TO ACTION END -->