
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Agent cards</h2>
                <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status: all</option>
                                <option>Active only</option>
                                <option>Disabled</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar1.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">Mary Sandra</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #409</p>
                                        <p><template class="__cf_email__" data-cfemail="cea3afbcb7f7fe8eabb6afa3bea2abe0ada1a3">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar2.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">Leslie Alexander</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #478</p>
                                        <p><template class="__cf_email__" data-cfemail="214d44524d4844614459404c514d440f424e4c">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar3.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">Leslie Alexander</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #478</p>
                                        <p><template class="__cf_email__" data-cfemail="81ede4f2ede8e4c1e4f9e0ecf1ede4afe2eeec">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar4.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">Floyd Miles</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #171</p>
                                        <p><template class="__cf_email__" data-cfemail="1c7a7978736e2d2e5c79647d716c7079327f7371">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar1.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">John Alexander</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #987</p>
                                        <p><template class="__cf_email__" data-cfemail="a0cacfc8cee0cdd9cdc1c9cc8ec3cfcd">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar3.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">Albert Flores</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #478</p>
                                        <p><template class="__cf_email__" data-cfemail="aac6cfd9c6c3cfeacfd2cbc7dac6cf84c9c5c7">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar4.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">Leslie Alexander</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #478</p>
                                        <p><template class="__cf_email__" data-cfemail="513d34223d3834113429303c213d347f323e3c">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                        <div class="col">
                            <div class="card card-user">
                                <div class="card-header">
                                    <img class="img-md img-avatar" src="assets/imgs/people/avatar1.jpg" alt="User pic">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-50">Marx Alberto</h5>
                                    <div class="card-text text-muted">
                                        <p class="m-0">Seller ID: #478</p>
                                        <p><template class="__cf_email__" data-cfemail="7f131a0c13161a3f1a071e120f131a511c1012">[email&#160;protected]</template></p>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
   