<div class="ltn__modal-area ltn__add-to-cart-modal-area----">
    <div class="modal fade custom-modal" id="ltn_forget_password_modal" tabindex="-1">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button  type="button" class="close"  data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span  >&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ltn__quick-view-modal-inner">
                        <div class="modal-product-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="modal-product-info text-center">
                                        <h4>Enter OTP</h4>
                                        <p class="added-cart"> Enter OTP sented to the register email.</p>
                                        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="ltn__form-box">
                                            <div class="row">
                                            <div class="form-group col-sm-2" *ngFor="let input of formInput;  index as i">
                                                <input #formRow type="text" formControlName="{{input}}" class="form-control" maxlength="1" (keyup)="keyUpEvent($event, i)">
                                                </div>
                                            </div>
                                            @if( form.invalid && form.touched){
                                                <span class="error">Enter the otp</span>
                                            }
                                            
                                            <div class="btn-wrapper mt-0">
                                                <button class="theme-btn-1 btn btn-full-width-2" type="submit">Submit</button>
                                            </div>
                                            <div>
                                                @if (reSendOtp) {
                                                    <label>Otp expires in :</label>{{ minutes }}:{{ seconds | number:'2.0' }}
                                                }@else {
                                                    <a (click)="sendOtp()">Resend Otp</a>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                    <!-- additional-info -->
                                    <div class="additional-info d-none">
                                        <p>We want to give you <b>10% discount</b> for your first order, <br>  Use discount code at checkout</p>
                                        <div class="payment-method">
                                            <img src="img/icons/payment.png" alt="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>